nodered.json
[{"id":"12a801d9.bc2fce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc0ca3e9.95d16","type":"ui_form","z":"12a801d9.bc2fce","name":"","label":"","group":"9330efd6.e6d9b","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["f42382cf.a2ac9","6072a817.ec02a8"]]},{"id":"f42382cf.a2ac9","type":"debug","z":"12a801d9.bc2fce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"6072a817.ec02a8","type":"function","z":"12a801d9.bc2fce","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":200,"wires":[["a9f6d66f.802548"]]},{"id":"a9f6d66f.802548","type":"cloudant out","z":"12a801d9.bc2fce","name":"cloudant","cloudant":"","database":"sample","service":"node-red-hryfw-2020--cloudant-1597404159741-25740","payonly":true,"operation":"insert","x":640,"y":200,"wires":[]},{"id":"d8110548.31c9f8","type":"ui_form","z":"12a801d9.bc2fce","name":"","label":"","group":"ec40cfe4.e1b28","order":0,"width":0,"height":0,"options":[{"label":"Enter Email ID","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":340,"wires":[["aadd1570.c526f8"]]},{"id":"aadd1570.c526f8","type":"function","z":"12a801d9.bc2fce","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":340,"wires":[["e61949fd.1fb878"]]},{"id":"e61949fd.1fb878","type":"function","z":"12a801d9.bc2fce","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload-\"emailid\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":340,"wires":[["b5881c9f.36db5"]]},{"id":"b5881c9f.36db5","type":"cloudant in","z":"12a801d9.bc2fce","name":"","cloudant":"","database":"sample","service":"node-red-hryfw-2020--cloudant-1597404159741-25740","search":"_idx_","design":"user","index":"user","x":660,"y":340,"wires":[["e19f63c2.5713a"]]},{"id":"e19f63c2.5713a","type":"function","z":"12a801d9.bc2fce","name":"","func":"if(msg.payload[0].password===global.get('password')) {\n    msg.payload= 'Login Successfull'\n}\nelse{\n    msg.payload = 'Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":340,"wires":[["a2e05fe2.95a4"]]},{"id":"a2e05fe2.95a4","type":"debug","z":"12a801d9.bc2fce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":460,"wires":[]},{"id":"9330efd6.e6d9b","type":"ui_group","z":"","name":"Registration","tab":"10e44ab1.8bbc85","order":2,"disp":true,"width":"6","collapse":false},{"id":"ec40cfe4.e1b28","type":"ui_group","z":"","name":"Login Form","tab":"5ea4e79d.e2b248","order":1,"disp":true,"width":"6","collapse":false},{"id":"10e44ab1.8bbc85","type":"ui_tab","z":"","name":"Form","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ea4e79d.e2b248","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false}]
